* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.clearfix {
  clear: both;
}
.list-unstyled {
  list-style: none;
}
.list-inline li {
  display: inline;
}
.text-pink {
  color: #ebbec3;
}
.pull-right {
  float: right;
}
.hidden {
  display: none;
}
body {
  font-family: sans-serif;
  font-size: 14px;
}
#main-wrapper {
  overflow: hidden;

  max-width: 300px;

  border: 1px solid #9c9c9c;
  border-radius: 15px 0 0 0;
}
header {
  position: relative;

  min-height: 41px;

  border-bottom: 4px solid #c6e700;
  background: #302c2b;
}
header #logo {
  position: absolute;
  top: 5px;
  left: 15px;

  width: 97px;
}
header a.close-btn {
  position: absolute;
  top: 0;
  right: 0;

  display: block;

  width: 45px;
  height: 45px;

  background: transparent url('../assets/btn-close.png') center center no-repeat;
  background-size: 15px 15px;
}
#routing-guide,
#pre-chat {
  padding-top: 26px;
}
#routing-guide {
  min-height: 384px;
}
#pre-chat {
  min-height: 509px;
}
.breadcrumbs {
  padding: 0 26px 30px;

  color: #716e65;
}
.breadcrumbs a {
  color: #66844e;
}
.breadcrumbs li.active {
  color: #959691;
}
.heading {
  font-size: 16px;
  font-weight: bold;

  margin: 0 25px 20px;
}
#routing-links li a {
  display: block;

  min-height: 27px;
  margin-bottom: 8px;
  padding: 14px 27px 0 66px;

  cursor: pointer;
  cursor: hand;

  color: #303829;
  background-repeat: no-repeat;
  background-position: 27px center;
  background-size: 30px 30px;
}
#routing-links li a:hover,
#routing-links li a:focus {
  color: #79913d;
  background-color: #edfadc;
}
#routing-links li a:active {
  color: #f6fcc5;
  background-color: #9bcf01;
}
#routing-links .routing-bill a {
  background-image: url('../assets/icon-billing.png');
}
#routing-links .routing-tech a {
  background-image: url('../assets/icon-tech-support.png');
}
#routing-links .routing-account a {
  background-image: url('../assets/icon-login.png');
}
#routing-links .routing-other a {
  background-image: url('../assets/icon-other.png');
}
#routing-guide .back-btn {
  font-weight: bold;

  display: inline-block;

  height: 30px;
  margin-left: 25px;
  padding: 15px 20px 0 27px;

  color: #9b9c97;
  background: transparent url('../assets/icon-back-button.png') 0 center no-repeat;
  background-size: 19px 19px;
}
#pre-chat #survey {
  padding-right: 25px;
  padding-left: 25px;
}
#pre-chat .form-group {
  min-height: 80px;
}
#pre-chat .form-group label {
  display: inline-block;

  margin-bottom: 8px;
}

#pre-chat .form-group input,
#pre-chat .form-group select,
#pre-chat .form-group textarea {
  font-size: 14px;

  display: block;

  box-sizing: border-box;
  width: 100%;
  height: 34px;

  border: 1px solid #d2d2d2;
  border-radius: 3px;
  background-color: #fff;
}
#pre-chat .form-group input:focus,
#pre-chat .form-group select:focus,
#pre-chat .form-group textarea:focus {
  outline: 0;
  background-color: #eefadb !important;
}
#pre-chat .form-group input {
  padding-left: 45px;
}
#pre-chat #name {
  background: transparent url('../assets/icon-form-avatar.png') 6px center no-repeat;
  background-size: 20px 20px;
}
#pre-chat #phone {
  background: transparent url('../assets/icon-form-phone.png') 6px center no-repeat;
  background-size: 20px 20px;
}
#pre-chat .form-group select {
  padding-left: 17px;

  background: #fff url('../assets/arrow-down.jpg') right 5px center no-repeat;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
}
#pre-chat .form-group #describe {
  box-sizing: border-box;
  height: 68px;
  margin-bottom: 25px;
  padding: 8px 17px;
}
#pre-chat button {
  display: inline-block;
  float: right;

  width: 100%;
  max-width: 114px;
  height: 30px;
  margin-bottom: 7px;

  color: #fff;
  border: none;
  border-radius: 5px;
  background: #b5e200 url('../assets/btn-send-idle.png') repeat left top;
  text-shadow: 1px 1px 0 #768616;
}
#pre-chat button:hover,
#pre-chat button:focus {
  background-image: url('../assets/btn-send-hover.png');
}
#pre-chat .req {
  font-size: 11px;

  float: right;

  color: #a29c99;
}
#pre-chat #survey .form-group input.error {
  border-color: #b03535;
  background-color: #ffcad3;
}
label.error {
  font-size: 11px;

  float: right;

  margin-top: 4px;

  color: #edbbc4;
}
footer {
  overflow: hidden;

  min-height: 18px;

  background: #e5e5e5;
}
footer #powered-by {
  height: 15px;
  padding: 0 5px;
}
